.git
.github
.vscode
.pytest_cache
.mypy_cache
.ruff_cache
.env
.env.*
!.env.example
README.md
compose*.yaml
infra

**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/*.py[cod]

frontend/node_modules
frontend/.next
services/core/staticfiles
services/core/media
